
target/classes/.netbeans_automatic_build
target/DataCollectorWeb-1.0-SNAPSHOT.war
target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
target/test-classes/.netbeans_automatic_build
*.lst
*.war
*.dpf
*.class
*.class
*.jar
*.lst
